<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Class Portal</h1>
  
<br/>

  <%= link_to "Admin!", login_path, class: "btn btn-lg btn-primary" %>
  
  <%= link_to "Student!", student_login_path, class: "btn btn-lg btn-primary" %>
  
  <%= link_to "Instructor!", instructor_login_path, class: "btn btn-lg btn-primary" %>
  
</div>
