<li>
      <%= gravatar_for admin%>
      <%= link_to admin.name, admin %>
      <% if !admin.preconfigured? && !current_admin?(admin) %>
    | <%= link_to "delete", admin, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>