<% provide(:title, @admin.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="admin_info">
      <h1>
        <%= gravatar_for @admin %>
        <%= @admin.name %>
      </h1>
    </section>
  </aside>
</div>