<% provide(:title, 'All enrollments') %>
<h1>All enrollments</h1>

<ul class="courses">
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.course_number , student_courseinfo_path(course_id: course.id) %>
    </li>
  <% end %>
</ul>