<% provide(:title, 'All enrollments') %>
<h1>Search for class</h1>

<div class="row">
    
    <%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <div class="col-xs-6">
        <%= text_field_tag :search, params[:search], placeholder: "Search Courses", class:'form-control' %>
    </div>
    
    <div class="col-xs-3">
        <select id="searchby" name="searchby" class="form-control">
            <option>Course number</option>
            <option>Title</option>
            <option>Instructor</option>
            <option>Description</option>
            <option>Status</option>
        </select>
    </div>
    <div class="col-xs-3">
        <%= submit_tag "Search", class:'btn btn-primary' %>
    </div>
    <% end %>
</div>


<ul class="courses">
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.course_number , student_courseinfo_path(course_id: course.id) %>
    </li>
  <% end %>
</ul>