<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="student_info">
      <h1>
        <%= gravatar_for @student %>
        <%= @student.name %>
      </h1>
      <h2>Email: <%= @student.email %></h2>
    </section>
  </aside>
</div>