<% provide(:title, 'All enrollments') %>
<h1>All enrollments</h1>

<ul class="courses">
  <% @enrollments.each do |enrollment| %>
    <% if CourseInstructor.find_by(course_number: enrollment.course_number, instructor_email: @instructor.email) %>
    <li>
      <%= enrollment.course_number %>---------
      <%= enrollment.student_email %>
      <% @course = Course.find_by(course_number: enrollment.course_number) %>
      | <%= link_to "approve", approve_path(request_id: enrollment.id) %>
      | <%= link_to "disapprove", disapprove_path(request_id: enrollment.id), method: :delete, data: { confirm: "You sure?" } %>
    </li>
    <% end %>
  <% end %>
</ul>
