<footer class="footer">
  <small>
    Super Admin: super@ncsu.edu Password:123456</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>